#Carpetas omitidas de subir a github
venv
FrontEnd_py/__pycache__
__pycache__
build

#Archivos intermedios
FrontEnd_py/static/css/style.css.map
motores.cp312-win_amd64.pyd

# omitir archivos html dentro de la carpeta m_cython
FrontEnd_py/m_cython/*.html

#Archivo del seba
Seba_en_que_vas.txt

#prueba rama (branch)

#carpeta de .vscode
.vscode