:root {
  --Posicion-X: 1024px;
  --Posicion-Y: 768px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
  /* para que al hacer scroll lo haga de manera suave */
}

html h1 {
  font-size: 4rem;
}

html h2 {
  font-size: 2rem;
}

html p {
  font-size: 1,6rem;
}

body {
  height: 100%;
  width: 100%;
  background-image: url("../delincuente.jpg");
  background-size: 300%;
  background-position: var(--Posicion-X) var(--Posicion-Y);
  background-repeat: repeat;
}

.noselect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(40%, rgba(102, 102, 102, 0)), to(rgba(255, 255, 255, 0.77)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(102, 102, 102, 0) 40%, rgba(255, 255, 255, 0.77) 100%);
}

.container .titulo {
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

.container .display {
  width: 100%;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .display .textos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .display .textos p {
  font-size: 3rem;
}

.container .display .btn-ataque button {
  height: 30vh;
  width: calc(30vh);
  border: none;
  border-top: 3px solid rgba(255, 165, 0, 0.1);
  border-right: 3px solid rgba(255, 165, 0, 0.1);
  border-bottom: 3px solid rgba(255, 165, 0, 0.1);
  border-left: 3px solid rgba(255, 165, 0, 0.1);
  border-radius: 300px;
  background-color: rgba(255, 0, 0, 0.8);
  font-size: 2rem;
  font-weight: 700;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
}

.container .display .btn-ataque button:active {
  -webkit-box-shadow: 0px 0px 47px -11px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 47px -11px rgba(0, 0, 0, 0.7);
}

.container .display .btn-ataque button:visited {
  -webkit-animation-name: Recarga;
          animation-name: Recarga;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.container .display .btn-ataque button:active:after {
  -webkit-transition: 0s;
  transition: 0s;
}

@-webkit-keyframes Recarga {
  0% {
  }
  25% {
    border-top: 3px solid rgba(255, 165, 0, 0.9);
  }
  50% {
    border-right: 3px solid rgba(255, 165, 0, 0.9);
  }
  75% {
    border-bottom: 3px solid rgba(255, 165, 0, 0.9);
  }
  100% {
    border-left: 3px solid rgba(255, 165, 0, 0.9);
  }
}

@keyframes Recarga {
  0% {
  }
  25% {
    border-top: 3px solid rgba(255, 165, 0, 0.9);
  }
  50% {
    border-right: 3px solid rgba(255, 165, 0, 0.9);
  }
  75% {
    border-bottom: 3px solid rgba(255, 165, 0, 0.9);
  }
  100% {
    border-left: 3px solid rgba(255, 165, 0, 0.9);
  }
}

#joystick {
  height: 35vh;
  width: calc(35vh);
  border-radius: 300px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: all-scroll;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: -100;
}

@media (orientation: portrait) {
  .container .display .btn-ataque button {
    width: 25vw;
    height: calc(25vw);
  }
  .container .display .textos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .display .textos p {
    font-size: 1.5rem;
  }
  #joystick {
    width: 35vw;
    height: calc(35vw);
  }
}

@media (orientation: landscape) {
  .container .display .btn-ataque button {
    height: 30vh;
    width: calc(30vh);
  }
  .container .display .textos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container .display .textos p {
    font-size: 3rem;
  }
  #joystick {
    height: 35vh;
    width: calc(35vh);
  }
}
/*# sourceMappingURL=style.css.map */